.navbar .dropdown.profile .dropdown-menu{
    width: 305px !important;
}

.navbar .dropdown.profile .dropdown-menu li.profile-img img.profile-img{
    height:auto;
    width:108px;
    float:none;
    padding-bottom: 5px;
}

.navbar .dropdown.profile .dropdown-menu .profile-body{
    width: 100%;
}

.navbar .dropdown.profile .dropdown-menu .profile-body *{
    display: inline-block;
    width: 100%;
}

.dropdown.profile .dropdown-menu h6{
    overflow:inherit;
}

.input-group-addon {
	border-color:#e4eaec;
}

[data-first-row-in-group="no"] td:nth-of-type(1),
[data-first-row-in-group="no"] td:nth-of-type(2)
{
    visibility: hidden;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border: none;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > th,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > td,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > th
{
    vertical-align: top;
    text-align: justify;
}


/* for year separator*/
table.dataTable tr.dtrg-group.dtrg-level-0 td {
    background-color: #921813;
    color: white;
    border-color: #600d09;
}

/* for CGP separator*/
table.dataTable tr.dtrg-group.dtrg-start.dtrg-level-1 td {
    border-color: #600d09;
    background-color: #e0e0e0;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 2em;
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 1px solid #b9acac;
}

/* for results separator*/
table.dataTable tr.dtrg-group.dtrg-end.dtrg-level-1 td {
    background-color: #f8fafc;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 2em;
    font-size: 1em;
    font-weight: bold;
    border-bottom: 1px solid #b9acac;
}

#summaryReservation  thead tr[role=row] th:not(:first-child){
    text-align: right !important;
}
#summaryReservation  tbody tr[role=row] td:not(:first-child){
    text-align: right !important;
}
#summaryReservation tr.dtrg-group.dtrg-end.dtrg-level-1 td:not(:first-child) {
    text-align: right !important;
}
